#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Parker_Avenue_ {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-TRAVELSHARE_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Panel_2 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-option4_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-option3_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-option3_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-option1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-option1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-option1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-option1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Table2 {
  border-collapse: separate;
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Table1 {
  border-collapse: separate;
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c #s-Label_37 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 17px;
  width: 195px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-09276eba-15b1-4036-bd0a-633be5d75b0c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}