#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Parker_Avenue_ {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-TRAVELSHARE_2 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Search {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Search > .valign {
  vertical-align: top;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Results {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Results > .valign {
  vertical-align: top;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Panel_3 > .valign {
  vertical-align: top;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_37 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 17px;
  width: 100px;
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Descriptions > .valign {
  vertical-align: middle;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Paragraph_top {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Title_2 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Paragraph_top_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Descriptions_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Descriptions_1 > .valign {
  vertical-align: top;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Panel_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D4D4D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Panel_7 > .valign {
  vertical-align: middle;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_29 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D4D4D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D4D4D4;
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Panel_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Panel_8 > .valign {
  vertical-align: middle;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-option4_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-option3_2 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-option3_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-option1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-option1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-option1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-option1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Table2 {
  border-collapse: separate;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 #s-Table1 {
  border-collapse: separate;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-db98051c-9f02-411d-8e63-ee7b28044aa2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}