#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Parker_Avenue_ {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-TRAVELSHARE_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Paragraph_top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Paragraph_top_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-mark_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option4_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option3_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option3_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}