#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Parker_Avenue_ {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-TRAVELSHARE_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Descriptions > .valign {
  vertical-align: middle;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Paragraph_top {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Title_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Paragraph_top_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option4_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option3_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option3_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-option1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Table2 {
  border-collapse: separate;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 #s-Table1 {
  border-collapse: separate;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fa0de845-6774-40e3-8e3b-c13d220217c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}