#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-Parker_Avenue_ {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-TRAVELSHARE_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-mark_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-option4_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-option3_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-option3_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-option1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-option1_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-option1_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-option1_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-Table2 {
  border-collapse: separate;
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 #s-Table1 {
  border-collapse: separate;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fbcd9574-cc65-4386-b7b7-a01ab3333729 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}